 @font-face {
    font-family: 'UTMAlterGothic';
    src: url('font/UTMAlterGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  /* Android jQM Font Style Overrides */
  body  * {
    font-family: "UTMAlterGothic" !important;
    font-weight: normal !important;
    
  }

.ui-icon-slide-menu {
	background-image: url(../images/menu-btn-n.png);
	margin: 0px !important;
	width: 48px;
	height: 48px;
}
.ui-icon-slide-menu hover {
	background-image: url(../images/menu-btn-t.png);
	margin: 0px !important;
	width: 48px;
	height: 48px;
}

.jqm-content {
        background-image: url("../images/film_list_bg.png");
	padding: 0px;
}
.slide_content {
	height: 259px;
}
.ui-icon-btn-search {
	background-image: url(../images/search_btn_n.png);
	margin: 0px !important;
	width: 48px;
	height: 48px;
}
.jqm-header {
	height: 45px;
}
/* Logo */
.jqm-header h1.jqm-logo {
	font-size: 1.5em;
	margin: 0.3em 30% 0.8em;
}
.jqm-header h1.jqm-logo a {
	text-shadow: none;
	text-decoration: none;
	color: white !important;
}

.jqm-header > .ui-btn {
	width: 48px;
	height: 48px;
	-webkit-border-radius: 0;
	border-radius: 0;
	top:0px !important;
}
.jqm-header > .ui-btn,
.jqm-header > .ui-btn .ui-icon {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.jqm-header > .ui-btn,
.jqm-header > .ui-btn .ui-btn-inner {
	border: none;
	background: none;
}
.jqm-header > .ui-btn .ui-icon {
	background-color: transparent;
	width: 48px;
	height: 48px;
	margin: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

/* Lists */
.jqm-search .jqm-list {
	font-weight: 400; 
	font-size: 0.88em;
}
.jqm-list .ui-li-heading  {
	font-weight: 700; 
	font-size: .9em;
	color: #07ade0;
	margin-top: .1em;
}
.jqm-list .ui-li-desc  {
	font-weight: 300; 
	font-size: .8em;
	color: #777;
	margin-bottom: .1em;
}
/* List dividers */
.jqm-list .ui-bar-b {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: .9em;
	padding: .6em 15px;
	background: url("../images/label-catelogory.png") repeat-x top right;
	color: #8C919F;
	text-shadow: none;
	border-top-width: 0px;
}
/* List buttons */
.jqm-list .ui-btn-inner {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color:white ;
	text-shadow:none; 
	font-size: 0.95em;
	border-top: none;
}
.jqm-list .ui-btn-up-b, 
.jqm-list .ui-btn-hover-b, 
.jqm-list .ui-btn-down-b {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300; 
	border-color: #0000;
}
.jqm-list .ui-btn-up-b {
	-webkit-background: url("../images/label_list.png") repeat-x;
	-moz-background: url("../images/label_list.png") repeat-x;
	-o-background: url("../images/label_list.png") repeat-x;
	background: url("../images/label_list.png") repeat-x;
	height: 48px;
}
.jqm-list .ui-btn-hover-b {
	
}
.jqm-list .ui-btn-hover-b {
	background-color: #1f1f23;
	color: white;
	-webkit-background-image: none;
	-moz-background-image: none;
	-o-background-image: none;
	background-image: none;
	height: 48px;
}
.jqm-list .ui-btn-up-b.ui-btn-active, 
.jqm-list .ui-btn-hover-b.ui-btn-active, 
.jqm-list .ui-btn-down-b.ui-btn-active,
.jqm-list .ui-btn-up-b.ui-focus, 
.jqm-list .ui-btn-hover-b.ui-focus, 
.jqm-list .ui-btn-down-b.ui-focus {
	border-color: #34bae8;
	background-color: #34bae8;
	-webkit-background-image: none;
	-moz-background-image: none;
	-o-background-image: none;
	background-image: none;
	color: #fff;
	text-shadow: 0 1px 0 #369;	
}
.jqm-list .ui-btn-up-b.ui-focus, 
.jqm-list .ui-btn-hover-b.ui-focus, 
.jqm-list .ui-btn-down-b.ui-focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.jqm-list .ui-btn-active a.ui-link-inherit,
.jqm-list .ui-btn-active .ui-li-heading,
.jqm-list .ui-btn-active .ui-li-desc,
.jqm-list .ui-focus a.ui-link-inherit,
.jqm-list .ui-focus .ui-li-heading,
.jqm-list .ui-focus .ui-li-desc {
	color: #fff;
}

/* Nav panels */
/* Reveal menu shadow on top of the list items */
.ui-panel-display-reveal {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open,
.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open {
	-webkit-box-shadow: -5px 0 5px rgba(0,0,0,.10);
	-moz-box-shadow: -5px 0 5px rgba(0,0,0,.10);
	box-shadow: -5px 0 5px rgba(0,0,0,.10);
}
/* Content */
.jqm-content {
	background-image: url("../images/film_list_bg.png");
	background-repeat: repeat repeat;
}

.img_thumbnail {
	width: 100%;
	height: auto;
	text-align: center;
	margin-bottom: 20px;
}
.img_thumbnail a img {
	border: solid 1px #FFF;
	margin: 5px 5px;
	
}
.img_thumbnail a:HOVER img {
	border: solid 1px #00adff;
	margin: 5px 5px;
	
}
.film_title_normal, .film_title, .film_imdb{
	display: block;
	text-shadow: none;
	font-weight: bold;
}
.film_title {
        font-size: 14px;
	color: #00adff;
}
.film_title_normal {
        font-size: 14px;
	color: #96a7bb;
	
}
.film_imdb {
        font-size: 14px;
	background-color: #373f51;
	color: #96a7bb;
	margin-left: auto;
	margin-right: auto;
	width: 90px;
}

.jqm-content-center {
	color: white;
	text-align: center;
	margin-top: 30px;
}
.jqm-content-right {
	color: Gray;
	text-align: left;
	margin-top: 30px;
}

.jqm-content-center img {
	height: auto;
	width: 105px;
}
.deliver {
	margin: 5px;
}
.service_block {
	width:80%;
	background-color: #2d3447;
	text-shadow: none;
	color: #fff;
	padding-bottom: 5px;
	cursor: pointer;
}

.service_block .price{
	color: #009feb;
	font-weight: bold;
}

.jqm-service-bar {
	border: 1px solid #006E9B;
	-webkit-border-radius: 5px;
    border-radius: 5px;
}



.content-midview img {
     display: block;
     max-height: 48px ! important;
     max-width: 48px ! important;
     margin-top:20px;
     margin-left: 0px;

}

.vina-class .ui-li-has-thumb {
    padding-left: 50px;
}
#round {
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
}
.content-midview li {
    background-color: #2d3447 ! important;
    margin: 20px 20px 0px 20px ! important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-color: #2d3447 ! important;
}
.content-midview p {
    margin: 10px 10px 15px 10px ! important;
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
    font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
}
.content-midview p span {
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
    font-size: 16px;
    color: #96a7bb;
    text-shadow: none;
    font-weight:bold;
}

.content-top {
text-shadow: none ! important;
font-weight: normal;
min-width: 200px;
width: 100%;
margin-top: 5px;
display: block;
}

 .content-top-left {
    margin-left: 2%;
    width: 40%;
    float: left;
    text-align: center;
}
.content-top-left {
    
}
.poster_img {

    text-align: center;
    overflow: hidden;
    display: block;
    margin-left: 1%;
    margin-right: 1%;
}
.poster_img img {
margin-top: 1px;
border: none;


}
 .trailer {
clear: both;


}
 .buttonaction {
    background-color: #2662b3;
    color: #FAFAFA ! important;
    text-align: center;
    width: 80%;
    display: inline-block;
    height: 30px;
    font-weight: normal;
    margin-top:10px;
    font-size: 20% ! important;
}
.buttonaction .ui-btn-inner{
    padding: .2em 5px;
}

.content-top-right {
width: 55%;
float: right;
margin-right: 2%;
}
.space {

}
.content-top-right h3 {

}
.content-top-right .name{
    margin-top: 0%;
font-size: 18px;
font-weight: bold;
color: #00ADFF;
text-shadow: 0px 1px 2px #000000;
text-decoration: none;
}
.content-top-right .textlabel{
color: #FAFAFA ! important;
font-size: 14px;
width: 73px;
display: inline-block;
font-weight: bold;
}
.textinfo{
color: #96a7bb ! important;
font-size: 14px;
font-weight: bold;
}

.content-bottom {
    text-shadow: none;
    margin-left: 2%;
    margin-right: 2%;
font-weight: normal;
min-width: 200px;
width: 96%;
}
#icon_play {

position: absolute;
top: 150px;
left: 65px;

}
#icon_play:Hover {
    background-image: url("../web/UploadImage/film_list_bg.png");
}
.content-bottom .content-item {
color: #000;
}

.content-bottom .content-item #infofilm {

}
#half-demo {
    color:rgb(86, 98, 112);
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
   
}
.half-idbm {
    height: 30px;
    width: 200px;
    background-color: #373f51;
    color:#96a7bb;
    margin-bottom: 20px;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
}
#error_notification {
    width: 100%;
    overflow: hidden;
    position: absolute;
    opacity:0.9;
    filter:alpha(opacity=90);
    /*background: url('../images/errornotification.png');*/
    z-index: 99999;
    background-color: #af6c6d;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #af6c6d),color-stop(1, #af6c6d));
}

#title_slide {
    text-shadow: none;
    color: #fff;
}
.ui-radio input {
left: 20px;
top: 50%;
width: 20px;
height: 20px;
margin: -5px 0 0 0;
outline: 0!important;
z-index: 1;
}
.listtap {
    text-shadow:none ! important;
    position : relative;
    top      : 50%;
}
.pagination {
background: #f2f2f2;
background-image: url("../images/film_list_bg.png");
padding: 5px;
width: 100%;
}
.pager {
display: inline-block;
padding: 2px 9px;
margin-right: 4px;
border-radius: 3px;
border: solid 1px silver;
background: #e9e9e9;
box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .8), 0px 1px 3px rgba(0, 0, 0, .1);
font-size: 0.875em;
font-weight: bold;
text-decoration: none;
color: #717171;
text-shadow: 0px 1px 0px rgba(255,255,255,1);
}

#container {
  margin-left: 5%;
  float: left;
  width: 90%;
  padding:5;
  display: table;
  border: 0px solid black;
  }

#row  {
  display: table-row;
  }

#left {
  width:65%;
  padding:0;
  /*background: #EEF;*/
  display: table-cell;
  /*background:yellow url("red.gif") top left repeat-y;*/
  }

#right {
  width:13%;
  /*background:#FEE;*/
  display: table-cell;
  /*background:#FEE url("blue.gif") top right repeat-y;*/
  }

#middle {
  width:22%;
  padding: 0px;
  /*background:yellow;*/
  display: table-cell;
  }

  /* IE ONLY */
* html #container {
  /*background:yellow url("red.gif") top left repeat-y;*/
  }
* html #row {
  /*background:url("blue.gif") top right repeat-y;*/
  }
* html #left {
  float:left;
  }
* html #right {
  float:right;
  }
* html #middle {
  float: left;
  width: expression((document.body.clientWidth * 0.8 - 322) + "px");
  }
* html .cleaner {
  display:block;
  }
